﻿
@{
    Layout = null;
}
@model IEnumerable<SDSP.Models.RealTime_InTransit>
<table>
    <thead>
        <tr>
            <th>Trailer </th>
            <th>Route-Sequence</th>
            <th>Unload Date</th>
            <th>Hazmat</th>
            <th>SDSP Spot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.TrailerNumber</td>
                <td>@item.RouteRun</td>
                <td>@item.UnloadDate.Value.ToString("MM/dd/yyyy")</td>
                <td>@item.Hazmat</td>
                <td>@item.ingatespot</td>
            </tr>
        }
    </tbody>
</table>