﻿@model SDSP.Models.PlanAuditVM
@{
    ViewBag.Title = "Yard Audit";
}
@Styles.Render("~/Content/jqueryui")
<style>
    .blocked {
        color: white;
        background-color: #c3000d;
        height: 10px;
    }

    .inUse {
        color: white;
        background-color: #73ba37;
    }

    .available {
        height: 10px;
    }

    #blocked-square {
        color: #c3000d;
        font-size: 20px;
    }

    #inuse-square {
        color: #73ba37;
        font-size: 20px;
    }

    #available-square {
        /*color: white;*/
        font-size: 20px;
    }

    #tabs-1 {
        max-height: 230px;
        overflow-y: auto;
    }

    #Comment {
        height: 120px;
    }

    .ui-autocomplete.ui-menu {
        z-index: 3001;
    }

    .custom-combobox-input {
        width: 260px;
        height: 30px;
        background: white;
        border-radius: 3px;
        padding: 10px;
    }
    .no-display {
        display: none;
    }
</style>
    <div id="searchTerms" >
        <h2>Yard Audit Trailers</h2>
        @*<span id="blocked-square">&#9724;</span> Blocked
            <span id="inuse-square">&#9724;</span> In Use
            <span id="available-square">&#9723;</span> Available*@
        @using (Html.BeginForm("PlanAudit", "Yard", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="form-group">
            <label class="control-label col-md-2" for="startDate">Start Date</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.startDate, new { @class = "form-control datepicker", @type = "date" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="start-date-error" class="field-validation-valid text-danger" data-valmsg-for="startDate" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="endDate">End Date</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.endDate, new { @class = "form-control datepicker", @type = "date" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="end=date-error" class="field-validation-valid text-danger" data-valmsg-for="endDate" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="type">Report type</label>
            <div class="col-md-10">
                @Html.DropDownList("type", null, "Select", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="type-error" class="field-validation-valid text-danger" data-valmsg-for="tyoe" data-valmsg-replace="true"></span>
            </div>
        </div>
        <button id="submitButton" type="submit">Get Report</button>
        }
    </div>
@if (Model.ListRouteMaster != null)
{
    if (Model.type == 1)
    {
        <h2>Missing Trailers for</h2>
    }
    else
    {
        <h2>Extra Trailers for</h2>
    }
    <div id="datatables">
        @for (DateTime date = Model.startDate; date <= Model.endDate; date = date.AddDays(1))
        {
        <h3>@date.ToShortDateString()</h3>
        <table id="Trailers" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Trailer</th>
                    <th>Route</th>
                    <th>Sequence</th>
                    <th>Unload Date</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rm in Model.ListRouteMaster)
                {
                    if (rm.UnloadDate == date)
                    {
                        <tr>
                            <td>@rm.TrailerNumber</td>
                            <td>@rm.Route</td>
                            <td>@rm.Run</td>
                            <td>@rm.UnloadDate</td>
                            <td>@rm.Priority</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        }
    </div>

    <input type="submit" id="btnSubmit" value="Export to Excel" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customplanaudit")
}