﻿@model SDSP.Models.TrailerMovements
@{
    ViewBag.Title = "Trailer History";
}
<style>
    #report-data {
        font-weight: bold;
        font-size: 15px;
    }

    #submitButton {
        margin-bottom: 20px;
    }
</style>
<h2>Trailer History</h2>

<div id="searchTerms">
    @using (Html.BeginForm("TrailerHistory", "Yard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="control-label col-md-2" for="start">Start Date</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.start, new { @class = "form-control datepicker", @type = "date" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="start-date-error" class="field-validation-valid text-danger" data-valmsg-for="start" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="end">End Date</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.end, new { @class = "form-control datepicker", @type = "date" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="end=date-error" class="field-validation-valid text-danger" data-valmsg-for="end" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TrailerNumber">Trailer number</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="false" data-val-number="" id="TrailerNumber" name="TrailerNumber" type="text" value="@Model.TrailerNumber" />
            </div>
            <div class="col-md-10 col-lg-offset-2">
                @Html.ValidationMessageFor(model => model.TrailerNumber, "", new { @class = "text-danger", @id = "trailer-error" })
            </div>
        </div>

        <button id="submitButton" type="submit">Get Report</button>
    }
</div>

@*<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="delete-title">Confirm Delete</h2>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected record?
            </div>
            <div class="modal-footer">
                <button type="button" id="yes" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" id="no" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>*@

@if (Model.THistory != null && Model.THistory.Count > 0)
{
    <span id="report-data">From @Model.start.ToShortDateString() to @Model.end.ToShortDateString()</span>
        <table id="Trailers" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Trailer</th>
                    <th>Route</th>
                    <th>Hazmat</th>
                    <th>Bound</th>
                    <th>Trailer Status</th>
                    <th>Type</th>
                    <th>Date & Time</th>
                    <th>Driver</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var rm in Model.THistory)
                {
                    string bound = "";
                    if (rm.Bound == 1) { bound = "Southbound"; }
                    else if (rm.Bound == 2) { bound = "Northbound"; }
                    string type = "";
                    if (rm.Type == 1) { type = "Ingate"; }
                    else if (rm.Type == 2) { type = "Hook"; }
                    else if (rm.Type == 3) { type = "Outgate"; }
                    <tr id="@rm.RouteMasterId">
                        <td>@Model.TrailerNumber.ToUpper()</td>
                        <td>@rm.Route</td>
                        <td>@rm.Hazmat</td>
                        <td>@bound</td>
                        <td>@rm.TrailerStatus</td>
                        <td>@type</td>
                        <td>@rm.DateTime</td>
                        <td>@rm.Driver</td>                        
                    </tr>
                }
            </tbody>
        </table>

        <input type="submit" id="btnSubmit" value="Download as Excel" />
}
else
{
    <h2>No history found for the specified search terms.</h2>
}
<!-- Modal para Edicion/comentarios -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="comment-title">Comments</h2>
            </div>
            <div class="modal-body">                
                <table id="table-comments" class="table">
                    <thead>
                        <tr>
                            <th>Comment</th>
                            <th>Made by</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="close-comment" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/history")
}