﻿@model SDSP.Models.YardStatusVM
@{
    ViewBag.Title = "YardStatus";
}
@Styles.Render("~/Content/jqueryui")
<style>
    .blocked {
        color: white;
        background-color: #c3000d;
        height:10px;
    }
    .inUse {        
        color: white;
        background-color: #73ba37;
    }
    .available {
        height:10px;
    }
    #blocked-square {
        color: #c3000d;
        font-size:20px;
    }
    #inuse-square{
        color: #73ba37;
        font-size:20px;
    }
    #available-square {
        /*color: white;*/
        font-size:20px;
    }
    #tabs-1 {
        max-height: 230px;
        overflow-y: auto;
    }
    #Comment {
        height: 120px;
    }
    .ui-autocomplete.ui-menu {
      z-index: 3001;
    }
    .custom-combobox-input {
        width: 260px;
        height: 30px;
        background: white;
        border-radius: 3px;
        padding: 10px;
    }

    .custom-display {
        /*display:flow-root;*/
    }
    .no-display {
        display:none;
    }
    #btnSubmit {
        float: right;
        margin-bottom: 10px;
    }
</style>
<h2>Yard Status</h2>
<span id="blocked-square">&#9724;</span> Blocked
<span id="inuse-square">&#9724;</span> In Use
<span id="available-square">&#9723;</span> Available
<input type="submit" id="btnSubmit" value="Download as Excel" />
<table id="yardspots" class="table table-bordered">
    <thead>
        <tr>
            <th>Spot</th>
            <th>Trailer</th>
            <th>Route</th>
            <th>Hazmat</th>
            <th>Status</th>
            <th>Bound</th>
            @*<th>Unload Date</th>*@
            <th>Arrival Time</th>
            <th>Priority</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spot in Model.listSpots)
        {
            string clase = (spot.SpotStatusId == 1) ? "blocked" : "available";
            int bandera = 0;
            foreach (var ing in Model.listContenedoresenYarda)
            {
                if (ing.Ingate.YardSpotId == spot.Id)
                {
                    string bound = (ing.Ingate.Bound == 1) ? "SB" : "NB";
                    string hazmat = ing.RouteMaster.Hazmat;
                    if (hazmat == null || hazmat == "N") { hazmat = ""; }
                    string status = "";
                    if (ing.Ingate.TrailerStatusId == 1) { status = "Loaded"; }
                    if (ing.Ingate.TrailerStatusId == 2) { status = "Empty"; }
                    if (ing.Ingate.TrailerStatusId == 3) { status = "Racks"; }
                    <tr class="inUse" id="@spot.Id" data-routeMasterId="@ing.RouteMaster.Id">
                        <td>@spot.SpotNumber</td>
                        <td>@ing.RouteMaster.TrailerNumber</td>
                        <td>@(ing.RouteMaster.Route+" "+ @ing.RouteMaster.Run)</td>
                        <td>@hazmat</td>
                        <td>@status</td>
                        <td>@bound</td>
                        @*<td>@ing.RouteMaster.UnloadDate</td>*@
                        <td>@ing.Ingate.DateTime</td>
                        <td>@ing.RouteMaster.Priority</td>
                        @*@{string driver = (ing.PreOutgate != null) ? ing.Driver.Name + " - " + ing.Company.Name : "";}
                        @{ long preoutgate = (ing.PreOutgate != null) ? ing.PreOutgate.Id : 0; }
                        <td id="driver" data-preoutgate="@preoutgate">@driver</td>*@
                        <td>@ing.RouteMaster.Comments</td>
                        @{bandera = 1; }
                    </tr>
                                }
                            }
                            if (bandera == 0)
                            {
                            <tr class="@clase" id="@spot.Id">
                                <td>@spot.SpotNumber</td>
                                @*<td></td>*@
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                                }
                            }
    </tbody>
</table>

<!-- Modal para razon de bloqueo -->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="occurences-title">Reason</h2>
            </div>
            <div class="modal-body" id="reasonText">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Edicion/comentarios -->
<div class="modal fade" id="addCommentsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="comment-title">Comments</h2>
            </div>
            <div class="modal-body">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">View Comments</a></li>  
                        @if (!User.IsInRole("SDSPRestricted") && !User.IsInRole("AduanaMember") && !User.IsInRole("SDSPYardVision"))
                        {
                        <li><a href="#tabs-2">Add Comment</a></li>

                        <li><a href="#tabs-3">Change Spot</a></li>
                        }
                    </ul>
                    <div id="tabs-1">
                        <table id="table-comments" class="table">
                            <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>Made by</th>
                                    <th>Date & Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    @if (!User.IsInRole("SDSPRestricted") && !User.IsInRole("AduanaMember") && !User.IsInRole("SDSPYardVision"))
                    {
                    <div id="tabs-2">
                        <div class="form-group">
                            @Html.Label("Write your comment", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.TextArea("Comment", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div id="tabs-3">
                        <div class="form-group">
                            @Html.Label("New spot", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("YardSpotId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div> 
                    </div>
                    }
                </div>                
            </div>
            <div class="modal-footer">                
                <button id="save-comment" type="button" class="btn btn-primary collapse" data-dismiss="modal">Save Comment</button>
                <button id="change-spot" type="button" class="btn btn-primary collapse" data-dismiss="modal">Save New Spot</button>
                <button id="close-comment" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*Modal para informar si se cambio el spot o no*@
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="confirmText">
            
        </div>
    </div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customyardstatus")
}