﻿@model SDSP.Models.IngateTrailersVM
@{
    ViewBag.Title = "In Gate";
}
@Styles.Render("~/Content/jqueryui")
<style>
    .modal-body {
        max-height: 350px;
        overflow-y: auto;
    }

    #feedback {
        font-size: 15px;
    }

    #selectable .ui-selecting {
        background: #FECA40;
    }

    #selectable .ui-selected {
        background: #F39814;
        color: white;
    }

    #selectable {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #selectable li {
        margin: 1px;
        padding: 1px;
        float: left;
        width: 40px;
        height: 30px;
        font-size: 1.2em;
        text-align: center;
    }

    #select-container {
        width: 100%;
        overflow: auto;
        max-height: 200px;
        margin-bottom: 10px;
    }

    .custom-combobox-input {
        width: 280px;
        height: 30px;
        background: white;
        border-radius: 3px;
        padding: 10px;
    }

    #occurrences > tbody > tr:hover {
        background-color: #F39814;
        color: white;
    }

    .form-row input, .form-row select, .add-margin textarea {
        width: 300px;
    }

    .add-margin {
        margin-right: 20px;
    }
</style>

<h2>In Gate</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "ingateForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="row-TrailerNumber" class="add-margin">
            <label class="col-md-2" for="TrailerNumber">Trailer number</label>
            <div class="col-md-12">
                <input class="form-control text-box single-line" data-val="false" data-val-number="" id="TrailerNumber" name="TrailerNumber" type="text" value="@Model.Ingate.TrailerNumber" />
            </div>
            <div class="col-md-12 col-lg-offset-2">
                @Html.ValidationMessageFor(model => model.Ingate.TrailerNumber, "", new { @class = "text-danger", @id = "trailer-error" })
            </div>
        </div>

        <div id="necessaryinfo" class="form-row">
            <div class="add-margin">
                <label class="col-md-12" for="Route">Route</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="Route" name="Route" type="text" value="@Model.RouteMaster.Route" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Route" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="add-margin">
                <label class="col-md-12" for="Sequence">Sequence</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="Sequence" name="Sequence" type="text" value="@Model.RouteMaster.Run" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Sequence" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="add-margin">
                <label class="col-md-12" for="Hazmat">Hazmat</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="Hazmat" name="Hazmat" type="text" value="@Model.RouteMaster.Hazmat" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Hazmat" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div id="dontshow" class="form-row">
            <div class="add-margin">
                <label class="col-md-12" for="Invoice">Invoice</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="Invoice" name="Invoice" type="text" value="@Model.RouteMaster.Invoice" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Invoice" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="add-margin">
                <label class="col-md-12" for="Priority">Priority</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="Priority" name="Priority" type="text" value="@Model.RouteMaster.Priority" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Priority" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="add-margin">
                <label class="col-md-12" for="type">Bound</label>
                <div class="col-md-12">
                    @Html.DropDownList("Bound", null, "Select", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-lg-offset-2">
                    @Html.ValidationMessageFor(model => model.Ingate.Bound, "", new { @class = "text-danger", @id = "bound-error" })
                </div>
            </div>
            <div class="add-margin">
                <label class="col-md-12" for="type">Trailer Status</label>
                <div class="col-md-12">
                    @Html.DropDownList("TrailerStatusId", null, "Select", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-lg-offset-2">
                    @Html.ValidationMessageFor(model => model.Ingate.TrailerStatusId, "", new { @class = "text-danger", @id = "TrailerStatusId-error" })
                </div>
            </div>

            <div class="add-margin">
                @Html.Label("Comments", htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.TextArea("Comments", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="add-margin">
                @Html.LabelFor(model => model.Ingate.DriverId, "Driver", htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-12">
                    @Html.DropDownList("DriverId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-lg-offset-2">
                    @Html.ValidationMessageFor(model => model.Ingate.DriverId, "", new { @class = "text-danger", @id = "driver-error" })
                </div>
            </div>
        </div>

        <div id="divAddDriver" class="dynamic-form collapse">
            <a id="closeDriver" class="close" href="#">&times;</a>
            <h3>Add Driver</h3>
            <div class="add-margin">
                <label class="control-label col-md-2" for="DriverName">Name</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="DriverName" name="DriverName" type="text" value="" />
                </div>
            </div>
            <div class="add-margin">
                <label class="control-label col-md-2" for="CompanyId">Company</label>
                <div class="col-md-12">
                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-lg-offset-2">
                    <span id="company-error" class="field-validation-valid text-danger" data-valmsg-for="DriverName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="add-margin">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Save Driver" id="save-driver" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div id="divAddCompany" class="dynamic-form collapse">
            <a id="closeCompany" class="close" href="#">&times;</a>
            <h3>Add Company</h3>
            <div class="add-margin">
                <label class="control-label col-md-2" for="CompanyName">Name</label>
                <div class="col-md-12">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="CompanyName" name="CompanyName" type="text" value="" />
                </div>
            </div>
            <div class="add-margin">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Save Company" id="save-company" class="btn btn-default" />
                </div>
            </div>
        </div>

        @Html.Hidden("YardSpotId", 0)
        @Html.Hidden("RouteMasterId", 0)

        <p id="feedback">
            @Html.LabelFor(model => model.Ingate.YardSpotId, "Pick a yard spot", htmlAttributes: new { @class = "col-md-12" })
        </p>

        <div id="select-container">
            <ol id="selectable">
                @foreach (var item in ViewBag.YardSpotId)
                {
                    <li class="ui-widget-content">@Html.Raw(item.Value)</li>
                }
            </ol>
        </div>

        <div class="col-md-12 col-lg-offset-2">
            @Html.ValidationMessageFor(model => model.Ingate.YardSpotId, "", new { @class = "text-danger", @id = "yardspotid-error" })
        </div>

        <div class="form-group">
            @Html.Label("Print instruction sheet", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-12">
                @Html.CheckBox("print", false, htmlAttributes: new { @style = "vertical-align: bottom;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input id="btnSaveIngate" type="submit" value="Save Ingate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="occurences-title">Ocurrences</h2>
            </div>
            <div class="modal-body">
                <table id="occurrences" class="table">
                    <thead>
                        <tr>
                            <th>Trailer #</th>
                            <th>Route</th>
                            <th>Sequence</th>
                            <th>Bound</th>
                            <th>Unload Date (dd/mm/yyyy)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customEditIngate")
}
