﻿@model SDSP.Models.InvoiceUpdate

@{
    ViewBag.Title = "Update Invoice";
}
@Styles.Render("~/Content/jqueryui")

@if (Model.SpotsVM == null)
{
<h2>Update Single Invoice</h2>
    <style>
        #occurrences > tbody > tr:hover {
            background-color : #F39814; 
            color: white;
        }
        .modal-body {
            max-height:350px;
            overflow-y: auto;
        }
    </style>
    using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "updateInvoiceForm" }))
    {
        Html.AntiForgeryToken();
    <div class="form-horizontal">
        <div id ="row-TrailerNumber" class="form-group">
            @Html.LabelFor(model => model.TrailerNumber, "Trailer Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TrailerNumber, new { htmlAttributes = new { @class = "form-control-inline" } })
                <input type="button" id="find" value="Find" class="btn btn-default" /><br />
                @Html.ValidationMessageFor(model => model.TrailerNumber, "", new { @class = "text-danger", @id = "trailer-error" })
            </div>
        </div>
        @Html.Hidden("RouteMasterId", 0)
        @Html.ValidationMessageFor(model => model.RouteMasterId, "", new { @class = "text-danger", @id = "trailer-error" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Invoice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Invoice, "", new { @class = "text-danger" })
            </div>
        </div>*@ 
        <div class="form-group">
            @Html.Label("Invoice", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Invoice", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>  
             
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="occurences-title">Ocurrences</h2>
            </div>
            <div class="modal-body">
                <table id="occurrences" class="table">
                    <thead>
                        <tr>
                            <th>Trailer #</th>
                            <th>Route</th>
                            <th>Sequence</th>
                            <th>Bound</th>
                            <th>Priority</th>
                            <th>Unload Date (mm/dd/yyyy)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
}
else
{
<h3>Trailers & Sports List</h3>
<div id="spots-table">
    <table class="table" id="trailers">
        <thead>
            <tr>
                <th>Trailer</th>
                <th>Spot</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.SpotsVM.trailerNumber</td>
                    @if (Model.SpotsVM.yardSpotId > 0)
                    {
                        <td style="font-weight:bold;">@Model.SpotsVM.yardSpotId</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }
                </tr>
        </tbody>
    </table>
</div>
}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="delete-title">Missing information</h2>
            </div>
            <div id="errorText" class="modal-body">
                Please pick a yard spot
            </div>
            <div class="modal-footer">
                <button type="button" id="yes" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custonUpdateInvoice")
}
