﻿@model SDSP.Models.ImportExcel
@{ ViewBag.Title = "SDSP - Upload In Transit File";}
<div id="viewContent">
    <h3>Upload In Transit File</h3>
    @if (ViewBag.error == 0)
    {
        using (Html.BeginForm("UploadOriginalInTransit", "Sources", FormMethod.Post, new { enctype = "multipart/form-data", id = "loadFile" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.file, "Select file", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.file, new { type = "file" })
                    </div>
                    <div class="col-md-10 col-lg-offset-2">
                        @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger", @id = "file-error" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="load" type="submit" value="Upload" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div class="modal" id="loadingModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center;">
                        <img src="~/Content/Images/loading.gif" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>An in transit file was already uploaded today.</h4>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customLoading")
}