﻿@model SDSP.Models.Outgate
@Styles.Render("~/Content/jqueryui")
<h2>Outgate</h2>
<style>
    .custom-combobox-input {
        width: 280px;
        height: 30px;
        background: white;
        border-radius: 3px;
        padding: 10px;
    }
    .selected {
        background-color: #F39814;
        color: white;
    }
    .ui-autocomplete.ui-menu {
      z-index: 3001;
    } 
    #divTrailers {
        max-height: 490px;
        overflow-y: auto;
    }
    #reasons-container {
        max-height: 300px;
        overflow-y: auto;
    }
    #searchOutgate {
        margin-left:10px;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">           
            <div id="divMessage" class="alert alert-success collapse">
                <a id="closeMessage" class="close" href="#">&times;</a>
                <h4 class="alert-heading">Saved successfully!</h4>
            </div>
            <div id="divError" class="alert alert-danger collapse">
                <a id="closeErrorMessage" class="close" href="#">&times;</a>
                <h4 id ="errorText" class="alert-heading">No rows were selected</h4>
            </div>
            <div id="divWarning" class="alert alert-warning collapse">
                <a id="closeWarning" class="close" href="#">&times;</a>
                <h4 id="warningText" class="alert-heading">Some were repeated</h4>
            </div>
            <div class="col-md-12" style="text-align:right">
                <input id="btnTrailers" type="submit" value="Reload Trailer List" class="btn btn-default" />
                <input id="dispatch" type="submit" value="Dispatch" class="btn btn-primary" />
            </div>
            @Html.Label("Click or hit space on a row to select trailers for dispatch.", htmlAttributes: new { @class = "col-md-10" })            
            <div id="divTrailers" class="col-md-12">
                <label>Search</label><input id="searchOutgate" type="text" placeholder="Trailer # or Driver">
                <table class="table" id="trailers">
                    <thead>
                        <tr>
                            <th>Trailer #</th>
                            <th>Spot #</th>
                            <th>Priority</th>
                            <th>Comments</th>
                            <th>Assigned Driver</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            @Html.Hidden("ingateId")
        </div>
        <div class="modal fade" id="tblEditDriverModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title" id="tblEditDriver-title"></h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DriverId, "New Driver", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.DropDownList("DriverId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-10 col-lg-offset-2">
                                @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger", @id = "driver-error" })
                            </div>
                        </div>

                        <div id="divAddDriver" class="dynamic-modal-form collapse">
                            <a id="closeDriver" class="close" href="#">&times;</a>
                            <h3>Add Driver</h3>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="DriverName">Name</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="DriverName" name="DriverName" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="CompanyId">Company</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-10 col-lg-offset-2">
                                    <span id="company-error" class="field-validation-valid text-danger" data-valmsg-for="DriverName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save Driver" id="save-driver" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        <div id="divAddCompany" class="dynamic-modal-form collapse">
                            <a id="closeCompany" class="close" href="#">&times;</a>
                            <h3>Add Company</h3>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="CompanyName">Name</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="CompanyName" name="CompanyName" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save Company" id="save-company" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="change-driver" type="button" class="btn btn-secondary" data-dismiss="modal">Save New Driver</button>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-10">
                <input id="dispatch" type="submit" value="Dispatch" class="btn btn-default" />
            </div>
        </div>*@
    </div>

    <!-- Modal para escribir razones de prioridades saltadas -->
    <div class="modal fade" id="skippedModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="comment-title">Reasons</h2>
                </div>
                <div class="modal-body">
                    <div id="reasons-container">
                        <table id="reasons" class="table">
                            <thead>
                                <tr>
                                    <th>Trailer</th>
                                    <th>Reason for skipping it</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                @*<div class="modal-footer">
                    
                </div>*@
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customoutgate")
}
