﻿@model SDSP.Models.OutgatesReportVM
@{
    ViewBag.Title = "Out Gate Report";
}
<style>
    #report-data {
        font-weight: bold;
        font-size: 15px;
    }

    #submitButton {
        margin-bottom: 20px;
    }
</style>
<h2>Out Gate Report</h2>

<div id="searchTerms">
    @using (Html.BeginForm("outgatesReport", "Outgates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="control-label col-md-2" for="startDate">Start Date</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.startDate, new { @class = "form-control datepicker", @type = "date" })
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <span id="start-date-error" class="field-validation-valid text-danger" data-valmsg-for="startDate" data-valmsg-replace="true"></span>
            </div>
        </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="endDate">End Date</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.endDate, new { @class = "form-control datepicker", @type = "date" })
                </div>
                <div class="col-md-10 col-lg-offset-2">
                    <span id="end=date-error" class="field-validation-valid text-danger" data-valmsg-for="endDate" data-valmsg-replace="true"></span>
                </div>
            </div>
            <button id="submitButton" type="submit">Get Report</button>
    }
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="delete-title">Confirm Delete</h2>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected record?
            </div>
            <div class="modal-footer">
                <button type="button" id="yes" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" id="no" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@if (Model.outgatesReport.Count > 0)
{
    <span id="report-data">From @Model.startDate.ToShortDateString() to @Model.endDate.ToShortDateString()</span>
    <div id="divMessage" class="alert alert-success collapse">
        <a id="closeMessage" class="close" href="#">&times;</a>
        <h4 class="alert-heading">Deleted successfully!</h4>
    </div>
    <label style="margin-left: 15px;">Search</label><input id="search" type="text" placeholder="Trailer #" />
    <table id="Trailers" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Trailer</th>
                <th>Route</th>
                <th>Sequence</th>
                @*<th>Unload Date</th>*@
                <th>Outgate Date & Time</th>
                <th>Driver</th>
                <th>Bound</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rm in Model.outgatesReport)
            {
                string bound = (rm.Bound == 1) ? "Southbound" : "Northbound";
                <tr>
                    <td>@rm.TrailerNumber</td>
                    <td>@rm.Route</td>
                    <td>@rm.Run</td>
                    @*<td>@rm.UnloadDate</td>*@                    
                    <td>@rm.OutgateDateTime</td>
                    <td>@rm.DriverName</td>
                    <td>@bound</td>
                    <td><a id="Delete-@(rm.Id+"-"+rm.OutgateRouteMasterId)" href="#">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" id="btnSubmit" value="Export to Excel" />

    @*Modal para informar que el spot original ha sido ocupado y escoger un nuevo spot*@
    <div class="modal fade" id="changeSpotModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="comment-title">Select spot</h2>
                </div>
                <div class="modal-body">
                    <label class = "control-label col-md-12">The previous yard spot for this trailer has been occupied, please choose a new yard spot.</label>
                    <div class="form-group">                        
                        <div class="col-md-12">
                            @Html.DropDownList("YardSpotId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="change-spot" type="button" class="btn btn-primary collapse" data-dismiss="modal">Save New Spot</button>
                    <button id="close-comment" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal para informar si se cambio el spot o no*@
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="resultText">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>No out gate data found for the specified dates.</h2>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/outgatesReport")
}