﻿@model SDSP.Models.PreOutgate
@{
    ViewBag.Title = "Hook";
}
@Styles.Render("~/Content/jqueryui")
<h2>Hook</h2>
<style>
    .custom-combobox-input {
        width: 280px;
        height: 30px;
        background: white;
        border-radius: 3px;
        padding: 10px;
    }
    .selected { 
        background-color : #F39814; 
        color: white;
    }

    #divTrailers {
        max-height: 380px;
        overflow-y: auto;
    }
    #searchOutgate {
        margin-left:10px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "assignDriver" })) 
{
    @Html.AntiForgeryToken()
    <input id="Error" type="hidden" value="@ViewBag.Error" />
    @*<input id="Error" type="hidden" value="1" />*@
    <div id="divError" class="alert alert-danger alert-dismissible collapse" role="alert">
        <a id="closeErrorMessage" data-dismiss="alert" class="close" href="#">&times;</a>
        <h4 id="errorText" class="alert-heading">That trailer was hooked earlier, it cannot be done again</h4>
    </div>
    <div id="divMessage" class="alert alert-success collapse">
        <a id="closeMessage" data-dismiss="alert" class="close" href="#">&times;</a>
        <h4 class="alert-heading">Saved successfully!</h4>
    </div>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Choose bound type and then click on a trailer from the list to hook", htmlAttributes: new { @class = "col-md-12" })
            <div>
                <label class="col-md-1" for="type">Bound</label>
                <div class="col-md-4">
                    Southbound:  @Html.RadioButton("Bound", 1,true)
                    Northbound:  @Html.RadioButton("Bound", 2)
                    SB No Priority:  @Html.RadioButton("Bound", 3)
                </div>
            </div>
            <div class="col-md-7" style="text-align:right">
                <input id="btnTrailers" type="submit" value="Reload Trailer List" class="btn btn-default" />
            </div>            
            <label style="margin-left: 15px;">Search</label><input id="searchOutgate" type="text" placeholder="Trailer #" />
            <div id="divTrailers" class="col-md-12">
                <table class="table" id="trailers">
                    <thead>
                        <tr>
                            <th>Trailer #</th>
                            <th>Route</th>
                            <th class="hideable">Priority</th>
                            <th class="hideable">Hazmat</th>
                            <th>Status</th>
                            <th>Spot</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            @Html.Hidden("RouteMasterId")
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.RouteMasterId, "", new { @class = "text-danger", @id = "period-error" })
            </div>
            @if (ViewBag.prevIngate == null)
            {
                @Html.Hidden("prevIngate", 0)
            }
            else
            {
                @Html.Hidden("prevIngate", (int)ViewBag.prevIngate)
            }
        </div>

    @if (ViewBag.prevIngate == 0 || ViewBag.prevIngate ==  null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.DriverId, "Select Driver", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("DriverId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger", @id = "driver-error" })
            </div>
        </div>

        <div id="divAddDriver" class="dynamic-form collapse">
            <a id="closeDriver" class="close" href="#">&times;</a>
            <h3>Add Driver</h3>
            <div class="form-group">
                <label class="control-label col-md-2" for="DriverName">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="DriverName" name="DriverName" type="text" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Company">Company</label>
                <div class="col-md-10">
                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-10 col-lg-offset-2">
                    <span id="company-error" class="field-validation-valid text-danger" data-valmsg-for="DriverName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Driver" id="save-driver" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div id="divAddCompany" class="dynamic-form collapse">
            <a id="closeCompany" class="close" href="#">&times;</a>
            <h3>Add Company</h3>
            <div class="form-group">
                <label class="control-label col-md-2" for="CompanyName">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="false" data-val-number="" id="CompanyName" name="CompanyName" type="text" value="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Company" id="save-company" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Hidden("DriverId", (int)ViewBag.driverid)
    }
    
    
        
    

    <div class="form-group">
        @Html.Label("Print Instruction Sheet", htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @if (ViewBag.print == 1){
                @Html.CheckBox("PrintInstruction", true, htmlAttributes: new { @style = "vertical-align: bottom;" })
            }
            else
            {
                @Html.CheckBox("PrintInstruction", false, htmlAttributes: new { @style = "vertical-align: bottom;" })
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="savehook" type="submit" value="Save Hook" class="btn btn-default" />
        </div>
    </div>
</div>
}

<!-- Modal para escribir razones de prioridades saltadas -->
<div class="modal fade" id="skippedModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="comment-title">Reasons</h2>
            </div>
            <div class="modal-body">
                <div id="reasons-container">
                    <table id="reasons" class="table">
                        <thead>
                            <tr>
                                <th>Trailer</th>
                                <th>Reason for skipping it</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="delete-title">Duplicate Record</h2>
            </div>
            <div class="modal-body">
                There is already a record with that information in the database
            </div>
            <div class="modal-footer">
                <button type="button" id="yes" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custompreoutgate")
}
