﻿@model SDSP.Models.PreOutgate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PreOutgate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsersId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
