﻿@model SDSP.Models.PrintHooKTotalVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintHook</title>
    <style>
        #print-area {
            width: 500px;
            padding: 10px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .title {
            text-align: center;
            font-size: 24px;
        }
        .driver-company {
            font-size: 18px;
        }
        .info {
            font-size: 23px;
        }
        .signatures {
            border-bottom: 1px solid black;
            width: 250px;           
        }
        table {
            width:95%;
            margin: 0 auto;
        }
        .print-info {
            width: 250px; 
        }
        .width70 {
            width:70px;
        }
        .width150 {
            width:150px;
        }
        @@media print{
            .hidden-print{
                display: none;
            }
        }
    </style>    
</head>
<body>   
    <div id="print-area">
        <div class="title">SDSP INSTRUCTION SHEET</div>
        <div class="driver-company">
            <table style="width:100%">
                <tr>
                    <td class="width70">
                        DRIVER:
                    </td>
                    @if (Model.PrintDropVM != null) { 
                        <td>@Model.PrintDropVM.Driver.Name</td>
                    }
                    @if (Model.PrintHookVM != null)
                    {
                        <td>@Model.PrintHookVM.Driver.Name</td>
                    }
                </tr>
                <tr>
                    <td class="width70">
                        COMPANY:
                    </td>
                    @if (Model.PrintDropVM != null)
                    {
                        <td>@Model.PrintDropVM.Company.Name</td>
                    }
                    @if (Model.PrintHookVM != null)
                    {
                        <td>@Model.PrintHookVM.Company.Name</td>
                    }
                </tr>
            </table>
        </div>
        <div class="info">
            @if (Model.PrintDropVM != null)
            {
            <div id="drop">
                <table>
                    <tr>
                        <td class="width150">
                            DROP SPOT:
                        </td>
                        <td class="print-info">@Model.PrintDropVM.Ingate.YardSpotId</td>
                    </tr>
                    <tr>
                        <td class="width150">
                            TRAILER #:
                        </td>
                        <td class="print-info">@Model.PrintDropVM.RouteMaster.TrailerNumber</td>
                    </tr>
                </table>
            </div>
            }
            @if (Model.PrintDropVM != null && Model.PrintHookVM != null)
            {
                <hr />
            }
            @if (Model.PrintHookVM != null)
            {
            <table>
                <tr>
                    <td class="width150">
                        HOOK SPOT:
                    </td>
                    <td class="print-info">@Model.PrintHookVM.Ingate.YardSpotId</td>
                </tr>
                <tr>
                    <td class="width150">
                        TRAILER #:
                    </td>
                    <td class="print-info">@Model.PrintHookVM.RouteMaster.TrailerNumber</td>
                </tr>
            </table>
            }
        </div>
        <hr />
        <div class="driver-company">
            DOES INFORMATION CORRESPOND WITH TRAILER #?<br />
            LA INFORMACION CORRESPONDE CON EL # DE TRAILER?
        </div>
        <div class="info">
            <table>
                <tr>
                    <td>
                        PAPERWORK:
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        DRIVER SIGNATURE
                    </td>
                    <td class="signatures"></td>
                </tr>
                <tr>
                    <td>
                        OFFICE SIGNATURE
                    </td>
                    <td class="signatures"></td>
                </tr>
            </table>
        </div>       
    </div>
@if (Model.PrintDropVM != null && Model.PrintHookVM != null)
{
    <div class="hidden-print">
        @Html.Label("Only show hook", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.CheckBox("showHook", false, htmlAttributes: new { @style = "vertical-align: bottom;" })  
        
    </div>
}
    <div class="hidden-print">
        @Html.ActionLink("Back to Ingate", "create", "Ingates")
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/customprinthook")
